brother-medium() {
	font-family: 'brother-1816'
	font-weight: 600
}

brother-light() {
	font-family: 'brother-1816'
	font-weight: 300
}

brother-bold() {
	font-family: 'brother-1816'
	font-weight: 700
}
