@font-face {
  font-family: 'brother-1816';
  font-weight: 400;
  font-style: italic;
  src: url(fonts/brother-1816-book-italic.woff) format('woff'),
       url(fonts/brother-1816-book-italic.woff2) format('woff2');
}
