@font-face {
  font-family: 'brother-1816';
  font-weight: 900;
  font-style: italic;
  src: url(fonts/brother-1816-black-italic.woff) format('woff'),
       url(fonts/brother-1816-black-italic.woff2) format('woff2');
}
